.form-holder {
    padding-top: 20px;
    padding-bottom: 30px;
}

.bg-custom {
    background-color: #545b62 !important;
    padding-top: 190px;
    padding-bottom: 190px;
    background-size: cover;
    background-image:url('https://premiertaxi.com.sg/static_repo/img/carousel_01.jpg');
    background-position: 50% 50%;
}

.container-custom {
    margin-left: 13px;
    padding-left: 0px;
    max-width: 100%;
}