<!-- this is the index -->
<div id="page-top">
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container container-custom">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">JAD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['/maps']" data-toggle="collapse" data-target="#navbarResponsive">Maps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['/chat-bot']" data-toggle="collapse" data-target="#navbarResponsive">Chat-bot</a>
                </li>
            
            </ul>
        </div>
    </div>
</nav>

<!-- <header class="bg-custom text-white"> -->
    <!-- <div class="container text-center">
        <h1>Premier Taxis</h1>
        <p class="lead"></p>
    </div> -->
<!-- </header> -->


<!-- [routerLink]="['/user/bob']" -->