<div class="col-md-12 margin-top1-15 chat-container chat-popup">

    <div class="chat-header" (click)="toggleChatbox()">
        <!-- <h5 style="margin-top:30px;"> JAD Chat Bot</h5> -->
        <div class="bot-name">JAD-bot</div>
    </div>

    <!-- #scrollMe [scrollTop]="scrollMe.scrollHeight" -->
    <!-- body here -->
    <div class="chat-body chat-hidden" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <ng-container *ngFor="let message of messages| async">
            <div class="message" [ngClass]="{'from':message.sentBy==='bot','to':message.sentBy==='user'}">
                {{message.content}}
            </div>
        </ng-container>
    </div>

    <!-- footer here -->
    <div class="chat-footer chat-hidden" >
        <!-- <label class="chat-label" for="nameField">Message</label> -->
        <input type="text" class="chat-textarea" placeholder="Ask something" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" />
        <!-- <button class="chat-button" (click)="sendMessage()">Send</button> -->
    </div>
</div>