/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.custom-popup .leaflet-popup-content-wrapper {
  background:#117a8b;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #117a8b;
  }

.leaflet-popup-close-button {
  margin-right: 4px;
}